<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IDRISS - OBS</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Your OBS overlay" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <style>
            #fader {
                opacity: 1;
                transition: opacity 1s;
            }
        </style>
        <!-- NOTIFICATION -->
        <div id="fader" style="opacity: 0" class="mt-12">
            <div
                id="donationAlert"
                class="absolute top-0 left-0 p-4 text-gray-900 bg-white bg-opacity-80 rounded-r-md flex items-center"
            >
                <div
                    class="flex items-center justify-center h-14 w-14 text-gray-900"
                >
                    <img
                        class="w-auto h-16"
                        src="../static/images/logo_circular.png"
                        alt="IDriss"
                    />
                </div>
                <div>
                    <p
                        id="baseInfo"
                        class="ml-3 text-xl text-gray-900 leading-6 font-bold"
                    >
                        Someone sent $1
                    </p>
                    <dd
                        id="message"
                        class="ml-3 text-lg text-gray-900 font-medium"
                    >
                        GG!
                    </dd>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="../static/js/web3.min.js"></script>
        <script type="text/javascript" src="../static/js/obs.js"></script>
    </body>
</html>
